* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
  }
  
  html, body {
    height: 100%;
  }
  
  footer {
    display: block;
  }
  
  h1 {
    color: #aa0024;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 20px;
    font-weight: 700;
    color: #272727;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .nombre-favorito-container{
    display: flex;
    justify-content: space-between;
  }
  
  .informacion-container{
    display: flex;
    align-items: center;
  }
  
  select{
    width: 24%;
    height: 46px;
    margin-top: 22px;
  }
  
  .contenedor-productos {
    width: 100%;
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .alerta{
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #aa0024;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .flex-item {
    background-color: white;
    width: calc(33.33% - 16px);
    height:200px;
    margin-bottom: 24px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  }
  
  .imagen{
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
    margin: auto
  }
  
  .icon{
    width: 5%;
    margin-bottom: -25px;
  }
  
  .icon-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  
  }

  select > .placeholder {
    display: none;
  }
  
  select{
    font-weight: 500;
    text-indent: 10%;
    font-size: 13px;
  }
  
  .informacion{
    padding: 10px;
  }
  
  .nombre-informacion-container{
    width: 10%;
    color: #aa0024;
  }
  
  i{
    color: #aa0024;
  }
  
  .favorito-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .favorito{
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
  
  .favoritos{
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
  @media(max-width: 991px) {
    .container {
      padding: 0 24px;
    }
    .flex-item {
      width: calc(50% - 12px);
    }
  }
  
  @media(max-width: 767px) {
    .container {
      padding: 0 16px;
    }
    .flex-item {
      width: 100%;
      margin-bottom: 16px;
    }
  }